@(contacts: List[Contact])
@main("Products catalogue") {
    @if(flash.containsKey("success")){
        <div class="alert alert-success">
        @flash.get("success")
        </div>
    }
    <h2>All products</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Name of Company</th>
                <th>Email</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
    @for(contact <- contacts) {
        <tr>
            <td><a href="">
            @contact.firstName
            </a></td>
            <td><a href="">
            @contact.lastName</a></td>
            <td><a href="">
            @contact.companyName</a></td>
            <td><a href="">
            @contact.email</a></td>
            <td><a href="">
            @contact.phone</a></td>
        </tr>
    }
        </tbody>
    </table>

    <a href="@routes.ContactSession.addContact()" class="btn btn-primary">Add Contact</a>
}