@(contactForm: Form[Contact])
@import helper._


@main("Contact form") {
    @if(flash.containsKey("success")){
        <div class="alert alert-success">
        @flash.get("success")
        </div>
    }
    @if(flash.containsKey("error")){
        <div class="alert alert-error">
        @flash.get("error")
        </div>
    }
    <h1>Contact form</h1>
    @helper.form(action = routes.ContactSession.saveContact()) {
        <fieldset>
            @*<legend>Contact (@contactForm("firstName").valueOr("Name"))</legend>*@
            @helper.inputText(contactForm("firstName"), '_label -> "Name")
        @helper.inputText(contactForm("lastName"), '_label -> "Surname")
        @helper.inputText(contactForm("companyName"),'_label -> "Company Name")
        @helper.inputText(contactForm("email"), '_label -> "Email")
        @helper.inputText(contactForm("phone"),'_label -> "Phone")
        </fieldset>
            <input type="submit" class="btn btn-primary" value="Save">
        <a  class="btn btn-danger" href="@routes.Application.index()">Cancel</a>
            }
}