@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap/bootstrap-responsive.min.css");

@media (min-width: 767px) {
    body { padding-top: 60px; }
}

a.btn { color: #FFF; }
a.btn:visited { color: #FFF; }

div.navbar div.container a { color: #EEE }