@(flash: String, users: java.util.List[User] )

@main("Welcome to Play") {


    <h1>Welcome to PlayApp</h1>


    <h3>Our Users</h3>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Login</th>
                <th>email</th>
            </tr>
            @for(user <- users) {
                <tr>
                    <td><a href="@routes.Application.show(user.id)">@user.login</a></td>
                    <td><a href="@routes.Application.show(user.id)"> @user.email</a></td>
                </tr>
            }
        </tbody>
    </table>
}
