@(userForm: Form[User])

@import helper._

@main("PlayApp") {
    <h1>New farmer registration</h1>
    @form(routes.Application.newUser()) {
        @inputText(userForm("login"), '_label -> "Login", '_showConstraints -> false)
        @inputText(userForm("email"), '_label -> "Email", '_showConstraints -> false)
        @inputPassword(userForm("password"), '_label -> "Password", '_showConstraints -> false)


        <input type="submit" class="btn btn-primary" value="Create User">
    }
    <a href="@routes.Application.index()">Back</a>
}