@(flash: String, user: User)
@import helper._
@main("PlayApp") {

    @if(flash!=null) {
        <div class="alert alert-block alert-info">
        @flash
        </div>
    }

    <h1 class="floatLeft">@user.login</h1>
    <p>
        <b>Login:</b>
        @user.login
    </p>
    <p>
        <b>Email:</b>
        @user.email
    </p>

    <h1>Dashboard</h1>

}